h1{
    color:aquamarine;
    background-color:black;
    text-align: center;
}
p{
    color:aliceblue;
    background-color: black;
}
#kiwkiw{
    color:burlywood;
    background-color: black;
}
.Warnasatu{
    color: grey;
    background-color:aquamarine;
}
.Warnadua{
    color: plum;
    background-color: black;
}
.Warnatiga{
    color: aliceblue;
    background-color:black;
}
#kotak_satu{
    height: 100px;
    width: 100px;
    background-color:darkgrey;
    margin-bottom:10px;
}
#kotak_dua{
    height: 100px;
    width: 500px;
    background-color: greenyellow; 
    margin-bottom:10px;
}
#kotak_tiga{
    height: 100px;
    width: 100px;
    background-color: peru;
    border-radius: 80px;
}
#bikinbg{
    width: 500px;
    height: 200px;
    background-color: yellowgreen;
    color: gainsboro;
    background-image: url("../gambar/olo.jpg");
    background-size: cover;
    border-radius: 30px;
}
#bikinbg h2{
    text-align: center;
    padding-top: 80px;
}
#bikinpattern{
    width: 500px;
    height: 200px;
    background-color: yellowgreen;
    color:black;
    background-image: url("../gambar/pattern1000.jpg");
    border-radius: 30px;
    background-repeat: repeat;
}
#bikinpattern h2{
    text-align: center;
    padding-top: 80px;
}